ADMIN_UI_LISTEN_ADDR=:8002
ADMIN_UI_CONTROLPLANE_URL=http://127.0.0.1:8000
ADMIN_UI_CONTROLPLANE_GRPC_ADDR=127.0.0.1:9106
ADMIN_UI_VICTORIA_QUERY_BASE_URL=http://127.0.0.1:8428/prometheus
ADMIN_UI_KUBECONFIG_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
ADMIN_UI_PSQL_DB_URL=postgres://aurora:27012004@127.0.0.1:5432/aurora?sslmode=disable
ADMIN_UI_REDIS_ADDR=127.0.0.1:6379
ADMIN_UI_REDIS_USERNAME=
ADMIN_UI_REDIS_PASSWORD=
ADMIN_UI_REDIS_DB=0
ADMIN_UI_BOOTSTRAP_TELEGRAM_BOT_TOKEN=8292915788:AAFLU6VAF0sp88wd8yyqW1F-bRDpICQMN-o
ADMIN_UI_BOOTSTRAP_TELEGRAM_CHAT_ID=-1003696373127
ADMIN_UI_CONTROLPLANE_GRPC_ADDR=127.0.0.1:9106
ADMIN_UI_TLS_CERT_FILE=
ADMIN_UI_TLS_KEY_FILE=
